{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
<!-- Matomo -->
<script type="text/javascript">


    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['setRequestMethod', 'POST']);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="https://stats.framasoft.org/";
        _paq.push(['setTrackerUrl', u+'p.php']);
        _paq.push(['setSiteId', '73']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'p.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="https://stats.framasoft.org/p.php?idsite=73&amp;rec=1" style="border:0;" alt="" /></p></noscript>


<!-- End Matomo Code -->
{% endblock %}

{% block site_nav %}
<div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
    <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner md-typeset">
            <h1>Mémo pour télétravail (libre)</h1>
            <p>
                Quelques ressources potentiellement utiles pour télétravailler avec des logiciels et services libres de façon un peu plus zen.
            </p>
        </div>
    </div>
</div>
{% if page.toc %}
<div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
    <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
            {% include "partials/toc.html" %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
